body{
			background-color: #ebeff5;
		}


		#total-websites{
			background-color: #4cb4c7;
		}


		#orders-templates{
			background-color: #7abecc;
		}

		#pages-created{
			background-color: #7CD1C0;
		}